{% extends 'test/base.html' %}
{% block title %}Сreate a test{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Сreate a test</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ test_form.as_p }}
        </div>
        <div id="questions">
        </div>
        <button type="button" class="btn btn-secondary mt-3 add-question">Add a question</button>
        <button type="submit" class="btn btn-primary mt-3">Сreate a test</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        const maxQuestions = 50;
        const maxAnswers = 6;

        function addAnswer(questionDiv) {
            const questionIndex = questionDiv.data('index');
            const answerCount = questionDiv.find('.answer').length;
            if (answerCount < maxAnswers) {
                const answerIndex = answerCount + 1;
                const newAnswer = `
                    <div class="form-group answer">
                        <input type="text" name="question_${questionIndex}_answer_${answerIndex}_name" class="form-control" placeholder="Reply text">
                        <input type="checkbox" name="question_${questionIndex}_answer_${answerIndex}_is_correct" class="form-check-input">
                        <label class="form-check-label">True</label>
                    </div>`;
                questionDiv.find('.answers').append(newAnswer);
            } else {
                alert('You can add up to 6 responses');
            }
        }

        function addQuestion() {
            const questionCount = $('#questions .question').length;
            if (questionCount < maxQuestions) {
                const questionIndex = questionCount + 1;
                const newQuestion = `
                    <div class="question form-group" data-index="${questionIndex}">
                        <input type="text" name="question_${questionIndex}_name" class="form-control" placeholder="Question text">
                        <h3>Answers</h3>
                        <div class="answers"></div>
                        <button type="button" class="btn btn-secondary add-answer">Add an answer</button>
                    </div>`;
                $('#questions').append(newQuestion);
            } else {
                alert('You can add up to 50 responses.');
            }
        }

        $(document).on('click', '.add-answer', function () {
            const questionDiv = $(this).closest('.question');
            addAnswer(questionDiv);
        });

        $('.add-question').click(function () {
            addQuestion();
        });
    });
</script>
{% endblock %}