{% extends 'base.html' %}
{% block content %}
<section>
    <main class="mt-5 mb-5">
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="card p-3 h-100 card-soft-primary">
                            <div class="profile-card-body">
                                <div class="row mb-3">
                                    <div class="col-12 text-center">
                                        <h6 class="fw-bold fs-1 text-200 my-3">{{ test.name }}</h6>
                                        <div id="timer" class="fw-bold fs-3 text-danger"></div>
                                    </div>
                                </div>
                                <form id="test-form" action="{% url 'grade_question' test.id question.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="mb-4">
                                        <h5>{{ question.name }}</h5>
                                        {% for answer in question.answer_set.all %}
                                            <div class="form-check">
                                                <input type="checkbox" name="answer" class="form-check-input" id="answer{{ answer.id }}" value="{{ answer.id }}">
                                                <label for="answer{{ answer.id }}" class="form-check-label">{{ answer.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="text-center">
                                        <input type="submit" value="Ответить" class="btn btn-primary">
                                    </div>
                                </form>
                                {% if next_question %}
                                    <a href="{% url 'display_question' test.id next_question.id %}" class="btn btn-secondary mt-3">Следующий вопрос</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>
<script>
    const timeForPass = {{ test.time_for_pass }} * 60; // Время в секундах
    let timeLeft = timeForPass;

    function startTimer() {
        const timerElement = document.getElementById('timer');
        const interval = setInterval(() => {
            const minutes = Math.floor(timeLeft / 60);
            const seconds = timeLeft % 60;
            timerElement.textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            if (timeLeft <= 0) {
                clearInterval(interval);
                document.getElementById('test-form').submit(); // Отправка формы, когда время истекло
            }
            timeLeft--;
        }, 1000);
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        startTimer();
    });
</script>
{% endblock %}
