{% extends 'test/base.html' %}

{% block title %}Passed tests{% endblock %}

{% block content %}
<div class="container">
    <h1>Passed tests</h1>
    <div class="row">
        {% for test, progress in test_results_dict.items %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ test.name }}</h5>
                    <p class="card-text">Category: {{ test.category }}</p>
                    <p class="card-text">
                        Author:
                        {% for user in users %}
                            {% if user.id == test.author_id %}
                                {{ user.username }}
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p class="card-text">Progress: {{ progress }}%</p>
                    <p><a href="{% url 'passing_the_test' test.id %}" class="btn btn-primary">Take Test</a></p>
                    <p><a href="{% url 'edit_test' test.id %}" class="btn btn-primary">Edit Test</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
